* {
	/*border: 1px solid red !important;*/
}

body {
	background-color: #fff;
	min-height: 100%;
	height: auto !important;
	margin: 0;
	padding: 0;
}

li {
	display: block;
}

a:link, a:visited {
	color: #cccccc;
	text-decoration: none;
}

/***Header**********************************/

header {
	position: fixed;
	width: 100%;
	height: 60px;
	padding: 10px;


}


nav {
	text-align: center;	
	height: 100%;
	

}

#logo, .nav-links {
	padding: 10px;
}



#site-nav-wrapper, #header-right-wrapper,  #social-media-wrapper, #icon-wrapper, #search-wrapper {
	height: 100%;

}

#site-nav-wrapper {
	position: relative;
	float: left;
	top: 10px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	left: 10px;
	width: 30%;
}



#header-right-wrapper {
	float: right;
	text-align: right;
	margin-right: 10px;
	top: 0;
	width: 785px;
	border-left: 1px solid #cccccc;
	border-top: none;
}

#social-media-wrapper, #icon-wrapper, #search-wrapper {
	display: inline-block;
	border-top: none;
	vertical-align: top;
}

#social-media-wrapper, #person-icon-wrapper, #i-icon-wrapper {
	border-right: 1px solid #cccccc;
}

#social-media-wrapper {
	width: 450px;
	height: 50px;
	padding-top: 5px;
}



#search-wrapper {
	width: 220px;
	display: inline-block;
}

#site-nav-wrapper ul li, #social-media-wrapper ul li, #search-wrapper ul li {
	display: inline-block;
}



#social-media-wrapper ul li {
	padding: 5px;
}

#icon-wrapper {
	width: 105px;
	margin: auto;
}

#i-icon-wrapper, #person-icon-wrapper {
	display: inline-block;
	width: 48px;
	height: 50px;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

#i, #person {
	padding-top: 10px;
	margin: auto;
}

#search-image, #search-box {
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}

#search-box {
	border-radius: 5px;
	height: 30px;
	border: 1px solid #d9e0e2;
	font-size: 14px;
	margin-top: 10px;
}

#search-image {
	padding-right: 8px;
	padding-top: 2px;
}


/*^^^^^^^^^^Header^^^^^^^^^^^^*/

/**********section***************/