* {
	border: 1px solid red !important;
}

body {
	background-color: #fff;
	min-height: 100%;
	height: auto !important;
	margin: 0;
	padding: 0;
}

ul {
	vertical-align: middle;
}

li {
	display: block;
}

a:link, a:visited {
	color: #cccccc;
	text-decoration: none;
}

/***Header**********************************/

header {
	position: fixed;
	width: 100%;
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid #cccccc;
	vertical-align: middle;
}



nav {
	text-align: center;
	vertical-align: middle;
	height: 100%;
}





#site-nav-wrapper, #header-right-wrapper, #social-media-wrapper, #icon-wrapper, #search-wrapper {
	height: 40px;
}

#site-nav-wrapper {
	position: relative;
	float: left;
	top: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	left: 10px;
	width: 30%;
}



#header-right-wrapper {
	float: right;
	text-align: center;
	vertical-align: middle;
	right: 0;
	top: 0;
	width: 63%;
	border-left: 1px solid #cccccc;
}

#logo {
	margin-top: 5px;
}

#social-media-wrapper, #icon-wrapper, #search-wrapper {
	display: inline-block;
}

#social-media-wrapper {
	width: 450px;
}

#icon-wrapper {
	width: 80px;
}

#search-wrapper {
	width: 220px;
}

#site-nav-wrapper ul li, #social-media-wrapper ul li, #search-wrapper ul li {
	display: inline-block;
}

#site-nav-wrapper, #social-media-wrapper ul li, #person, #i, #search-wrapper {
	margin-top: 10px;
}

#logo, .nav-links {
	padding: 0 10px;
}

/*^^^^^^^^^^Header^^^^^^^^^^^^*/

/**********section***************/